.todos {
    position: relative;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    accent-color: #008594;
    border: none;
    margin-right: 35px;
}

.todoDescription {
    vertical-align: center;
    line-height: 32px;
}

.unCompletedTodoDescription {
    color: #666666;
}

.completedTodoDescription {
    color: #ACACAC;
}

img {
    position: absolute;
    right: 0;
}